<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the 'public' directory
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Set PHP handler for specific PHP file extensions
    <FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
        SetHandler application/x-lsphp82
    </FilesMatch>
</IfModule>
